.text-center {
    text-align: center;
}

.card {
    margin-top: 40px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
}

img {
    border-radius: 100%;
    max-width: 150px; /* modificarea dimensiunii maxime */
    max-height: 150px; /* modificarea dimensiunii maxime */
    width: auto;
    height: auto;
    margin: 0 auto;
}

.inner-wrapper {
    padding: 20px;
}

.line {
    width: 20%;
    margin: 2px auto;
    border-top: 1px solid gray;
    margin-bottom: 10px;
}

section {
    margin-top: 80px;
}

.navbar {
    background-color: rgb(238, 92, 103);
    color: white;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

@media screen and (min-width: 480px) {
    html {
        font-size: 12px;
    }
}
