.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contributions h2 {
  color: #333;
  text-align: center;
}

.contributions ul {
  list-style-type: none;
  padding: 0;
}

.contributions li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}      








.text-center {
    text-align: center;
}

.card {
    margin-top: 40px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
}

img {
    border-radius: 100%;
    max-width: 150px; /* modificarea dimensiunii maxime */
    max-height: 150px; /* modificarea dimensiunii maxime */
    width: auto;
    height: auto;
    margin: 0 auto;
}

.inner-wrapper {
    padding: 20px;
}

.line {
    width: 20%;
    margin: 2px auto;
    border-top: 1px solid gray;
    margin-bottom: 10px;
}

section {
    margin-top: 80px;
}

.navbar {
    background-color: rgb(238, 92, 103);
    color: white;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

@media screen and (min-width: 480px) {
    html {
        font-size: 12px;
    }
}
